<!DOCTYPE html>
<html lang="en">
<body>
<div class="dashboard">
    <aside class="sidebar">
      <div class="logo-container">
        <img src="assets/1cd2a341-8f62-46aa-a07a-335d4045be1c-removebg-preview.png" alt="Logo" class="logo">
    </div>

      <nav>
        <p class="section-title">General</p>
        <a routerLink="/dashbord-admin" routerLinkActive="active">
          <i class="fas fa-home"aria-hidden="true"></i> Tableau de Bord
          
        </a>
        <a routerLink="/alltaches" routerLinkActive="active">
          <i class="fa fa-tasks" aria-hidden="true"></i> Les Reclamations
        </a>
        <a routerLink="/client" routerLinkActive="active">
        <i class="fa fa-users" aria-hidden="true"></i>Clients
      </a>
      <a routerLink="/listeintervenant" routerLinkActive="active">
        <i class="fa fa-users-cog" aria-hidden="true"></i>Intervenants
      </a>
      <a routerLink="/affectation-intervenant" routerLinkActive="active">
        <i class="fas fa-user-check"></i>Affectation
      </a>
      <p class="section-title">Outils</p>
        <a routerLink="/chat" routerLinkActive="active">
          <i class="fa fa-commenting" aria-hidden="true"></i> Chat
        </a>
        <a routerLink="/parametre" routerLinkActive="active">
          <i class="fas fa-cog"></i> Paramètres
        </a>
      </nav>
      <span></span>
      <span></span>
      <button class="logout" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> Déconnexion
      </button>
    </aside>










<!-- Liste des intervenants -->
<div class="intervenant-list">
    <h1>Liste des Intervenants</h1>
    <div class="row">
      <input class="search-input" type="text" id="searchInput"name="searchInput"placeholder="Rechercher par nom..."(input)="searchIntervenants($event)">
      <button class="butonsearch" for="ajout" (click)="openAjoutPopup()"> <i class="fas fa-user-plus"></i>Ajouter Intervenant</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let intervenant of intervenantArray">
          <td>{{ intervenant.name }}</td>
          <td>{{ intervenant.email }}</td>
          <td>{{intervenant.role}}</td>
          <td>
            <button class="btn btn-warning" class="buttonup" (click)="openEditPopup(intervenant)"><i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button class="btn btn-danger" class="option-button" (click)="setDelete(intervenant)"><i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>







<!--modif intervenant-->
  <div *ngIf="showEditPopup" class="modal-overlay">
    <div class="modal-container">
      <div class="modal-header">
        <h4>Modifier Intervenant</h4>
        <button (click)="closePopups()" class="close-btn">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name">Name:</label><br>
            <input type="text" id="name" [(ngModel)]="name" name="name">
          </div>
          <div class="form-group">
            <label for="email">Email:</label><br>
            <input type="email" id="email" [(ngModel)]="email" name="email">
          </div>
          <div class="form-group">
            <label for="password">Password:</label><br>
            <input type="password" id="password" [(ngModel)]="password" name="password">
          </div>
          <div class="form-group">
            <label for="role">Role:</label><br>
            <input type="text" id="role" [(ngModel)]="role" name="role">
          </div>
          <div class="modal-footer">
            <button type="button" class="ajout" (click)="UpdateRecords(); closePopups()">Mettre à jour</button>
            <button type="button" class="ferme" (click)="closePopups()">Fermer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  
  <!--  ajout intervenant -->
  <div *ngIf="showAddPopup" class="custom-modal-overlay">
    <div class="custom-modal-container">
      <div class="custom-modal-header">
        <h4>Ajouter un Intervenant</h4>
        <button (click)="closePopups()" class="custom-close-btn">&times;</button>
      </div>
      <div class="custom-modal-body">
        <form>
          <div class="custom-form-group">
            <label for="name">Name:</label><br>
            <input type="text" id="name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" required>
          </div>
          <div class="custom-form-group">
            <label for="email">Email:</label><br>
            <input type="email" id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required (blur)="validateEmail()">
          </div>
          <div class="custom-form-group">
            <label for="password">Password:</label><br>
            <input type="password" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"required>
          </div>
          <div class="custom-form-group">
            <label for="role">Role:</label><br>
            <input type="text" id="role" [(ngModel)]="role" [ngModelOptions]="{standalone: true}" required>
          </div>
          <div class="custom-modal-footer">
            <button type="button" class="ajout" (click)="register()">Ajouter</button>
            <button type="button" class="ferme" (click)="closePopups()">Fermer</button>
          </div>
        </form>
      </div>
    </div>
  </div>











</div>
</body>
</html>