<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de Réclamation</title>
</head>
<body>
    <div class="app-container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="logo-container">
                <img src="assets/1cd2a341-8f62-46aa-a07a-335d4045be1c-removebg-preview.png" alt="Logo" class="logo">
            </div>
            <nav>
                <p class="section-title">General</p>
                <a routerLink="/dashboard" routerLinkActive="active">
                    <i class="fas fa-home" aria-hidden="true"></i> Tableau de Bord
                </a>
                <a routerLink="/taches" routerLinkActive="active">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Nouveau Reclamation
                </a>
                <a routerLink="/historique" routerLinkActive="active">
                    <i class="fa fa-history" aria-hidden="true"></i> Mes Reclamations
                </a>
                <p class="section-title">Outils</p>
                <a routerLink="/chat" routerLinkActive="active">
                    <i class="fa fa-commenting" aria-hidden="true"></i> Chat
                </a>
                <a routerLink="/parametre-client" routerLinkActive="active">
                    <i class="fas fa-cog"></i> Paramètres
                </a>
            </nav>
            <button class="logout" (click)="logout()">
                <i class="fas fa-sign-out-alt"></i> Déconnexion
            </button>
        </aside>

        <!-- Main Content -->
        <div class="main-content">
            <div class="form">
                <img src="assets/login2-removebg-preview.png" alt="Logo" class="logo">
                <h1>Formulaire de Réclamation</h1>
            </div>
            <form>
                <div class="form-row">
                    <div class="form-group">
                        <label for="nameClient">Nom& Prénom du Client</label>
                        <input type="text" name="nameClient" id="nameClient" [(ngModel)]="nameClient" [ngModelOptions]="{standalone: true}" required #nomInput="ngModel" placeholder="Votre nom et votre Prénom">
                 <div *ngIf="nomInput.invalid && (nomInput.dirty || nomInput.touched)"
                      class="error-message">
                     Votre nom est obligatoire
                 </div>>
                    </div>
                    <div class="form-group">
                        <label for="nom">Nom du Réclamation</label>
                        <input type="text" name="nom" id="nom" [(ngModel)]="nom" [ngModelOptions]="{standalone: true}" required #nomInput="ngModel" placeholder="Nom du Réclamation">
                 <div *ngIf="nomInput.invalid && (nomInput.dirty || nomInput.touched)"
                      class="error-message">
                     Le nom est obligatoire
                 </div>>
                    </div>
                    
                </div>
        
                <div class="form-row">
                    <div class="form-group">
                        <label for="etat">Etat :</label>
                        <select id="etat" [(ngModel)]="etat" [ngModelOptions]="{standalone: true}">
                            <option value="Nouveau">Nouveau</option>
                            <option value="En cours">En cours</option>
                            <option value="Résolu">Résolu</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="urgence">Urgence :</label>
                        <select id="urgence" [(ngModel)]="urgence" [ngModelOptions]="{standalone: true}">
                            <option value="faible">Faible</option>
                            <option value="moyenne">Moyenne</option>
                            <option value="élevée">Élevée</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dateCreation">Date de Création</label>
                        <input type="date" [(ngModel)]="creation" name="dateCreation" id="dateCreation" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
        
                <div class="form-row">
                    
                    <div class="form-group">
                        <label for="description">Description :</label>
                        <textarea id="description" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"required rows="2"#descInput="ngModel" placeholder="Descrivez votre Réclamation"></textarea>
               <div *ngIf="descInput.invalid && (descInput.dirty || descInput.touched)"
                    class="error-message">
                   La description est obligatoire
               </div>
                    </div>
                    <div class="form-group">
                        <label for="remarque">Remarque</label>
                        <textarea id="remarque" [(ngModel)]="remarque" [ngModelOptions]="{standalone: true}" placeholder="Ecrivez votre remarque ici"></textarea>
                    </div>
                </div>
        
                <button class="btn" type="submit" (click)="createReclamation()">Envoyer la Réclamation</button>
            </form>
        </div>
        </div>
</body>
</html>
