:root {
    --primary-color: #3055a0; 
    --secondary-color: #e2322a; 
    --bg-color: #cc4e8d; 
    --sidebar-bg: #8ab2d0;
    --text-color: #3055a0; 
    --border-color: #bdc3c7; 
    --input-bg: #ffffff; 
    --warning-color: #e74c3c; 
    --card-bg: #ffffff; 
  }
  body {
    padding: 0;
    font-family: 'Arial', sans-serif;
    color:#3055a0;
    margin: 0;    
    background-color: #fcfcfb;
  }
  
  .dashboard {
    display: flex;
    min-height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background: #fcfbfb;
    padding: 2rem;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    border-right: #ddd solid 1px;
    gap: 1rem;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    max-width: 100px;
  }
  .section-title{ 
    color: #e2322a;
  }
  
  h3 ,h1{
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      font-family: Roboto, sans-serif;
      letter-spacing: .009375em;
      margin: 0;
      font-size: 24px;
      color: #3055a0;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  nav a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    color: #3055a0;
    text-decoration: none;
    transition: background-color 0.2s;
  }
  
  nav a:hover, nav a.active {
    background: #8ab2d0;
  }
  
  .logout {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    background: #3055a0;
    color: #ecf0f1;
    text-decoration:solid;
    border: none;
    cursor: pointer;
  }
  .logout:hover{
    color: #e2322a;
  }


.content {
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fcfcfb;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
}

.welcome-message {
  flex: 1;
  margin-right: 20px;
}

.welcome-message h1 {
  margin: 0;
  font-size: 24px;
  color: #3055a0;
  margin-right: 40px;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin-right: 60px;
}

.search-input {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.search-button i {
  font-size: 18px;
  color: #666;
}

/* Right Section */
.right-section {
  display: flex;
  align-items: center;
}

.notifications {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.notifications i {
  font-size: 20px;
  color: #666;
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #e2322a;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

/* Profile */
.profile {
  display: flex;
  align-items: center;
  margin-left: 20px;
  border-left: #ddd solid 1px;

}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  margin-left: 10px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-info h6 {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.profile-info h6:first-child {
  font-weight: bold;
  color: #3055a0;
}

.profile-info h6:last-child {
  font-size: 12px;
  color: #666;
}

iframe {
  width: 114%;
  height: calc(108vh - 60px); 
  border: none;}
  #powerbi-navbar, .powerbi-navbar {
    display: none !important;
}
/* Masquer la barre latérale */
.powerbi-sidebar {
    display: none !important;
}
.logoBar  {
  display: none !important;}