<div class="login-container">
  <div class="welcome-section">
    <h1>Bienvenue chez TAS</h1>
    <p>Connectez-vous maintenant pour un accès exclusif !</p>
    <img src="assets/login2-removebg-preview.png" alt="Image de Bienvenue">
  </div>
  <div class="login-section">
    <h2>Connexion</h2>
   <form>
      <label for="name">Nom & Prénom</label>
      <input type="text" id="name" name="name" [(ngModel)]="name" placeholder="Votre Nom & votre prénom" required [ngModelOptions]="{standalone: true}" />

      <label for="email">Email</label>
  <input id="email" type="email"  [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Votre email" required (blur)="validateEmail()" />
  
      <div>
        <label for="role">Rôle</label>
        <select id="role"  [(ngModel)]="role" [ngModelOptions]="{standalone: true}"required>
          <option value="">Sélectionnez un rôle</option>
          <option value="CLIENT">Client</option>
          <option value="ADMIN">Admin</option>
          <option value="INTERVENANT">Intervenant</option>
        </select>
        
      </div>
      <label for="pwd">Mot de passe</label>
      <div class="password-container">
        <input id="pwd"  [type]="showPassword ? 'text' : 'password'"  [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Votre mot de passe" required />
        <span class="toggle-password" (click)="togglePasswordVisibility()">
          <i class="fa fa-eye" aria-hidden="true" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword"></i>
        </span>

      </div>

      <div class="btn">
        <button type="submit" class="cnx" (click)="Login()">Connexion
          <i class="fa fa-lock" aria-hidden="true"></i>
        </button>
      </div>

      <span>
        <div>

        </div>
      </span>
      <p class="compte">Nouveau sur le compte ?
        <a class="connexion-link" routerLink="/signup" routerLinkActive="active">Inscrivez-vous</a>
      </p>
    </form>
  </div>
</div>


 
  