<div class="login-container">
  <div class="welcome-section">
    <h1>Bienvenue chez TAS</h1>
    <p>Connectez-vous maintenant pour un accès exclusif !</p>
    <img src="assets/login2-removebg-preview.png" alt="Image de Bienvenue">
  </div>
  <div class="login-section">
    <h2>Connexion</h2>
   <form>
      <label for="name">Nom & Prénom</label>
      <input type="text" id="name" name="name" placeholder="Votre Nom & votre prénom">

      <label for="email">Email</label>
  <input id="email" type="email"  [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required />
  

  
      <div>
        <label for="role">Rôle</label>
        <select id="role"  [(ngModel)]="role" [ngModelOptions]="{standalone: true}"required>
          <option value="">Sélectionnez un rôle</option>
          <option value="client">Client</option>
          <option value="admin">Admin</option>
          <option value="intervenant">Intervenant</option>
        </select>
        
      </div>

        <label for="pwd">Mot de passe</label>
        <input id="pwd" type="password"  [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required />
        

      <div class="btn">
        <button type="submit" class="cnx" (click)="Login()">Connexion</button>
      </div>

      <p>Nouveau sur le compte ?
        <a routerLink="/signup" routerLinkActive="active">Inscrivez-vous</a>
      </p>
    </form>
  </div>
</div>


 
  