<!DOCTYPE html>
<html>
    <body >
      <div class="signup-container">
        
        <div class="signup-section">
          <h2>Inscription</h2>
          <form >
            <div class="name-container">
              <div class="name-fields">
                <label for="name">Nom & Prénom</label>
                <input type="text" id="name" name="name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="Votre nom & votre prénom" re
                quired />
              </div>
              </div>
            
                <label for="email">Email</label>
                 <input id="email" type="email"  [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Votre email" required (blur)="validateEmail()" />
              <div>  
                 <label for="role">Role</label>
                 <select id="role"  [(ngModel)]="role" [ngModelOptions]="{standalone: true}" required >
                  <option value="">Sélectionnez un rôle</option>
                  <option value="CLIENT">Client</option>
                  <option value="ADMIN">Admin</option>
                  <option value="INTERVENANT">Intervenant</option>
                </select>
              </div> 

              <label for="pwd">Mot de passe</label>
              <div class="password-container">
                <input id="pwd"  [type]="showPassword ? 'text' : 'password'"  [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Votre mot de passe" required />
                <span class="toggle-password" (click)="togglePasswordVisibility()">
                  <i class="fa fa-eye" aria-hidden="true" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword"></i>
                </span>
              </div>
      
                 <label for="confirmPassword">Confirmer le Mot de Passe</label>
                 <div class="confirmpassword-container">
                 <input 
                  id="pwd"  [type]="showconfirmPassword ? 'text' : 'password'"  [(ngModel)]="confirmPassword" 
                        (input)="checkPasswordMatch()" [ngModelOptions]="{standalone: true}" placeholder="confirmer votre mot de passe" (blur)="validatePasswords()"
                        [class.invalid]="!passwordsMatch && confirmPassword">
                        <span class="toggle-confirmpassword" (click)="toggleconfirmPasswordVisibility()">
                          <i class="fa fa-eye" aria-hidden="true" [class.fa-eye]="!showconfirmPassword" [class.fa-eye-slash]="showconfirmPassword"></i>
                        </span>
                       
                  </div>
                 
      
            <div class="btn">
              
              <button type="submit" class="signup" (click)="save()">S'inscrire
                <i class="fa fa-sign-in" aria-hidden="true"></i>

              </button>
             
            </div>
            <span>
              <div>
                <br>
              </div>
            </span>
            <p>Déjà un compte ? <a class="connexion-link" routerLink="/login" routerLinkActive="active">Connectez-vous</a></p>

          </form>
        </div>
        <!-- Welcome Section -->
        <div class="welcome-section">
          <h1>Bienvenue chez TAS</h1>
          <p>Inscrivez-vous maintenant pour un accès exclusif !</p>
          <img src="assets/login2-removebg-preview.png" alt="Image de Bienvenue">
        </div>
        
      </div>
   
</body>
</html>